/* * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

#botoneraMovil {
    position: absolute;
    width: 90%;
    height: auto;
    background: white;
    top: 50px;
    left: 0px
}

#botoneraMovil ul il {
    width: 100%;
    line-height: 40px;
    text-align: center;
    border: 1px solid white;
    background: #ccc;
} */





/*Slide*/
